@use "../../styles/mixins/mixins.scss";

.streamer {
  @include mixins.row;

  &[data-status="loading"] {
    @include mixins.grey-bg;
  }

  &[data-status="offline"] {
    background-color: hsla(0, 55%, 30%, 1);
  }

  &[data-status="online"] {
    background-color: hsla(115, 55%, 25%, 1);
    color: var(--grey);
  }

  & [data-hidden="true"] {
    display: none !important;
  }

  & [data-section="picture"] {
    max-width: 8ch;
    min-width: 8ch;
    height: 8ch;
    background-color: hsla(220, 50%, 60%, 1);
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    overflow: hidden;
  }

  & [data-section="name"] {
    width: 100%;
    max-width: 20ch;
  }

  & [data-section="description"] {
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}
