.scrollToTop {
  z-index: 100;
  border-radius: 50%;
  position: fixed;
  border: none;
  padding: 0.5em;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.showButton {
  opacity: 1;
  transform: translateY(0);
}
